/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    scrollbar-width: none;
}

/* Encabezado */
header {
    background-color: #333;
    color: #666;
    padding: 10px;
    text-align: center;
    margin: auto;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 1rem;
    height: 10vh;
}

/* ---------------------- */
/* Menú */
nav {
    background-color: #444;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    position: relative;
    z-index: 10;
    font-size: 1.4rem;
    margin-bottom: 10px;
    height: 10vh;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #000;
    background-color: #666;
    padding: 20px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

/* ---------------------- */

/* Contenido */
.contenido {
    margin: auto;
    max-width: 1200px;
    min-height: 100vh;
    padding: 30px;
    line-height: 30px;
    border-radius: 10px;
    background-color: #444;
    font-size: 1.2rem;
    color: #fff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.contenido>h2 {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 15px;
    color: #666;
}

.contenido>p {
    font-size: 1.6rem;
    margin-left: 90px;
    margin-bottom: 15px;
}


.contenido>ul {
    margin-left: 100px;
    margin-bottom: 15px;
    font-size: 1.6rem;
    line-height: 40px;
}

/* ---------------------- */

/* Pie de página */
footer {
    margin-top: 10px;
    text-align: center;
    padding: 40px;
    color: #666;
    font-size: 1.4rem;
    background-color: #333;
}

/* ---------------------- */

/* boton de agregar */
.btn-agregar {
    background-color: #555;
    color: #fff;
    padding: 8px 20px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    width: 100px;
}

.btn-agregar:hover {
    background-color: #333;
}

/* ---------------------- */
/*  Tabla de géneros */
.tabla-generos {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 10px;
    margin: auto;
    margin-top: 30px;
    /* max-width: 800px; */
}

.tabla-generos th,
.tabla-generos td {
    padding: 12px;
    border: 2px solid #aaaa;
}

.tabla-generos thead {
    background-color: #555;
}

/* ---------------------- */
/* Formulario para agregar género */
.formGenero {
    width: 600px;
    padding: 10px;
    height: 30vh;
    margin: 50px auto;
}

.formGenero>label {
    font-size: 1.5rem;
}

.formGenero>input[type="text"] {
    width: 550px;
    height: 45px;
    padding: 5px;
    margin: 15px 0 25px;
    border: none;
    border-radius: 5px;
    border-bottom: 5px solid #130c0caa;
    outline: none;
    font-size: 1.2rem;
}

/* ---------------------- */
/* listado de peliculas */
.tabla-peliculas {
    width: 100%;
    border-collapse: collapse;
    margin: auto;
    margin-top: 30px;
}

.tabla-peliculas th,
.tabla-peliculas td {
    border: 2px solid #aaaa;
    padding: 6px;
}

.tabla-peliculas thead {
    background-color: #555;
    color: #fff;
}

/* agregar pelicula */
.formPelicula {
    width: 600px;
    padding: 10px;
    margin: auto;
}

.formPelicula>label {
    font-size: 1.5rem;
}

.formPelicula>input[type="text"],
input[type="number"],
select {
    width: 550px;
    height: 45px;
    padding: 5px;
    margin: 15px 0 25px;
    border: none;
    border-radius: 5px;
    border-bottom: 5px solid #130c0caa;
    outline: none;
    font-size: 1.2rem;
}

/* ---------------------- */
/* Botones */
.btn-editar,
.btn-eliminar,
.btn-cancelar {
    background-color: #555;
    color: #fff;
    padding: 8px 20px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
}

.btn-editar:hover,
.btn-eliminar:hover,
.btn-cancelar:hover {
    background-color: #333;
}

/* ---------------------- */
/* formulario de login */
.formLogin {
    width: 500px;
    padding: 10px;
    margin: 20px auto;
}

.formLogin>label {
    font-size: 1.5rem;
}

.formLogin>input[type="text"],
input[type="password"] {
    width: 550px;
    height: 45px;
    padding: 5px;
    margin: 15px 0 25px;
    border: none;
    border-radius: 5px;
    border-bottom: 5px solid #130c0caa;
    outline: none;
    font-size: 1.2rem;
}

/* ---------------------- */
/* Formulario para registro */
.formRegistro {
    width: 500px;
    padding: 10px;
    margin: 20px auto;
}

.formRegistro>label {
    font-size: 1.5rem;
}

.formRegistro>input[type="text"],
input[type="password"],
input[type="email"] {
    width: 550px;
    height: 45px;
    padding: 5px;
    margin: 15px 0 25px;
    border: none;
    border-radius: 5px;
    border-bottom: 5px solid #130c0caa;
    outline: none;
    font-size: 1.2rem;
}

/* ---------------------- */
/* Formulario para editar pelicula y genero */
/* Panel lateral derecho */
.panel-lateral {
    display: none;
    position: fixed;
    top: 330px;
    right: 20px;
    width: 400px;
    padding: 20px;
    background-color: #333;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.panel-lateral > input[type="text"] {
    width: 100%;
    height: 45px;
    padding: 5px;
    margin: 15px 0 25px;
    border: none;
    border-radius: 5px;
    border-bottom: 5px solid #130c0caa;
    outline: none;
    font-size: 1.2rem;
}

.panel-lateral-pelicula{
    display: none;
    position: fixed;
    top: 100px;
    right: 20px;
    width: 400px;
    padding: 20px;
    background-color: #333;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.panel-lateral-genero{
    display: none;
    position: fixed;
    top: 100px;
    right: 20px;
    width: 400px;
    padding: 20px;
    background-color: #333;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.panel-lateral-pelicula > input[type="text"], input[type="number"] {
    width: 100%;
    height: 45px;
    padding: 5px;
    margin: 15px 0 25px;
    border: none;
    border-radius: 5px;
    border-bottom: 5px solid #130c0caa;
    outline: none;
    font-size: 1.2rem;
}

/* -------------------------- */
/* Modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-contenido {
    background: #333;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    color: #fff;
    min-width: 300px;
    box-shadow: 0 0 10px #00000050;
}

.cerrar {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}