{% extends 'index.html' %}

{% block contenido %}
<h2>Agregar Película</h2>

<form id="formPelicula">
    <label for="codigo">Código:</label>
    <input type="text" id="codigo"></label>

    <label for="titulo">Título:</label>
    <input type="text" id="titulo">

    <label for="descripcion">Descripción:</label>
    <input type="text" id="descripcion">

    <label for="duracion">Duración(minutos):</label>
    <input type="number" id="duracion">

    <label for="protagonista">Protagonista:</label>
    <input type="text" id="protagonista">

    <label for="genero">Género:</label>
    <select id="genero">
        {% for genero in generos %}
        <option value="{{ genero.id }}">{{ genero.nombre }}</option>
        {% endfor %}
    </select>

    <br>
    <br>

    <button type="button" onclick="agregarPelicula()" class="btn-agregar">Agregar</button>
    <button type="button" onclick="cancelarPelicula()" class="btn-cancelar">Cancelar</button>
</form>

<p id="mensaje"></p>
{% endblock %}